table {
    border: 1px solid;
    width: 100%;
    table-layout: fixed;
}

th.mat-sort-header-sorted {
    color: black;
}

th, td {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

mat-header-row {
    th {
        font-size: 1rem;
        color: black;
    }
}

mat-row, mat-header-row, mat-footer-row {
    border-bottom-width: 0rem;
}

.mat-paginator-outer-container{
    float: left;
}
.refresh {
    float: right;
}