/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body {
  margin: 1.25rem !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:10px;}

h1 {
  text-align: center;
}


table {
  thead {
    mat-header-row {
      background-color: #e7ece4 !important;
      border-bottom-width: medium !important;
    }
  }
  tbody {
    background-color: aliceblue !important;
    mat-row {
      border-bottom-width: thin !important;
    }
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-width: 0rem;
  }
  mat-paginator {
    background-color: #e0eff1 !important;
  }
}

