.student-form {
    display: grid;
}
.input-field {
    padding-right: 2rem;
    width: 20rem;
    left: 0;
}
label {
    // margin: auto;
    padding: 1rem;
}
.btn-grp {
    margin: auto;
    button {
        margin: 0.75rem;
    }
}

input {
    width: 50%;
}