<div class="student-form">
  <form class="student-form" [formGroup]="studentForm">
    <label>
      <span class="input-field">Name:</span>
      <input type="text" formControlName="name" required>
    </label>
    <label>
      <span class="input-field">Address:</span>
      <input type="text" formControlName="address" required>
    </label>
    <label>
      <span class="input-field">Date of Birth:</span>
      <input type="text" formControlName="dob" required>
    </label>
    <div class="btn-grp">
      <button type="submit" [disabled]="!studentForm.valid || !isAdd" (click)="addStudent()">Add</button>
      <button [disabled]="!studentForm.valid || !isUpdate" (click)="updateStudent()">Update</button>
      <button [disabled]="!studentForm.valid || !isDelete" (click)="deleteStudent(studentForm.value.id)">Delete</button>
      <button type="reset" [disabled]="!studentForm.valid" (click)="resetForm()">Reset</button>
    </div>
  </form>
</div>